* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-carousel {
    height: 100vh;
}

.hero-carousel .carousel-inner,
.hero-carousel .carousel-item {
    height: 100%;
}

.hero-carousel img {
    height: 100%;
    object-fit: cover;
}
